@import "variable.scss";
body {
    font-family: "saira", Helvetica, Arial, sans-serif;

    margin: 0;
    padding: 0;
}
.page_wrapper {
    header {
        width: 100vw;
        height: 100vh;
        background: $dark;
        background: linear-gradient(to top left, $primary 50%, $dark 50%);

        .logo {
            width: 130px;
            height: auto;
            margin: 10px;
        }

        .title {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $primary;
            font-size: 72px;
            font-weight: 500;
            .left {
                //font-weight: 100;
                transform: translate(-55%, 50%);
            }
            .right {
                color: $dark;
                transform: translate(55%, -50%);
            }
        }
        [class^="sub-title"] {
            font-size: 32px;
            font-weight: 300;
        }
        .sub-title-top {
            position: absolute;
            left: 25%;
            top: 38%;
            transform: translateX(-100%);
            color: $light;
        }
        .sub-title-bottom {
            position: absolute;
            left: 55%;
            top: 56%;
            color: $dark;
        }
    }
}
